<section class="acordeon">
    <div class="mbox acordeon__toptxt">
        <div class="title">
            <h1>Документы</h1>
        </div>
        <p>Перечень документов для организации сотрудничества с нами:</p>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <div class="acordeon__title">Основые документы</div>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <div class="acordeon__title">Проекты договоров</div>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <div class="acordeon__title"> Текст</div>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
</section>