<section class="acordeon">

    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title">Основые документы</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title">Проекты договоров</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title"> Текст</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
</section>