<section class="acordeon">

    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title">Основые документы</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title">Проекты договоров</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title"> Текст</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <ul>
                <li><a href="#">Постановление Правительства №566</a></li>
                <li><a href="#">Постановление Правительства №858</a></li>
                <li><a href="#">Правила клиринговой деятельности</a></li>
                <li><a href="#">Правила проведения организованных торгов Газ природный</a></li>
                <li><a href="#">Правила проведения организованных торгов нефтепродукты</a></li>
                <li><a href="#">Приказ ФСТ №155</a></li>
                <li><a href="#">Спецификация биржевого товара секция Газ природный</a></li>
                <li><a href="#">Спецификация биржевого товара секция нефтепродукты</a></li>
                <li><a href="#">ФЗ о клиринге</a></li>
                <li><a href="#">ФЗ об организованных торгах</a></li>
            </ul>
        </div>
    </div>
    <div class="acordeon__row" style="display: none;">
        <div class="acordeon__title-wrap">
            <div class="mbox">
                <h3 class="acordeon__title"> Тарифы</h3>
            </div>
        </div>
        <div class="mbox acordeon__list">
            <div class="subtitle">
                <p>Брокерское обслуживание на рынке нефтепродуктов,
                    нефти и природного газа </p>
            </div>
            <div class="table">
                <div class="table__row">
                    <div class="table__head table__cell">Вид комиссии
                        брокера</div>
                    <div class="table__cell">За сделки на рынке
                        нефтепродуктов</div>
                    <div class="table__cell">За сделки на рынке
                        природного газа</div>
                    <div class="table__cell">За отрицательный остаток денежных средств
                        на Клиентском счете</div>
                </div>
                <div class="table__row">
                    <div class="table__head table__cell">Вид комиссии
                        брокера</div>
                    <div class="table__cell">В % от суммы сделки</div>
                    <div class="table__cell">В % от суммы сделки</div>
                    <div class="table__cell">В % от отрицательного остатка
                        на Клиентском счете</div>
                </div>
                <div class="table__row">
                    <div class="table__head table__cell">Размер комиссии
                        брокера</div>
                    <div class="table__cell">Комиссия устанавливается
                        индивидуально</div>
                    <div class="table__cell">Комиссия устанавливается
                        индивидуально</div>
                    <div class="table__cell">Комиссия устанавливается
                        индивидуально</div>
                </div>
                <div class="table__row">
                    <div class="table__head table__cell">Стоимость услуг
                        третьих лиц</div>
                    <div class="table__cell">Включены в комиссию
                        брокера</div>
                    <div class="table__cell">Комиссия биржи включена
                        в комиссию брокера	</div>
                    <div class="table__cell">-</div>
                </div>
            </div>
        </div>
    </div>
</section>