<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <div class="d-flex justify-content-between align-items-start">
                <div class="footer__nav d-flex justify-content-between align-items-start">
                    <ul class="footer__col">
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">  Товарный рынок</a></li>
                        <li><a href="#"> Документы</a></li>
                    </ul>
                    <ul class="footer__col">
                        <li><a href="#">Оформить заявку</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Тарифы</a></li>
                    </ul>
                </div>
                <div class="footer__soc d-flex justify-content-between align-items-center">
                    <a href="#" target="_blank" class="socicon fb"></a>
                    <a href="#" target="_blank" class="socicon vk"></a>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-start footer__copyright">
                <p>Copyright © 2016 - 2017</p>
                <p><i>Создание сайта:</i> Webtrend</p>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
<script>
    var cordX= 55.754248;
    var cordY = 37.641828;
    var googleText = "Подкопаевский пер., 4";
</script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/sections.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4iiu69HGNYjeWowMnGtdghML_vNg5M_Y"></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
