<section class="form">
    <div class="mbox">
        <div class="form__wrap">
            <div class="title form__title">
                <h2>Спешите оставить заявку</h2>
            </div>
            <p>Заполните заявку и мы свяжемся с Вами, чтобы назначить встречу.</br>
                Или позвоните нам по телефону <strong>+7(499) 372-52-32</strong></p>
            <div class="form__form">
                <form action="ajax.php" class="main-page">
                    <div class="form__row form_row">
                        <div class="form__item form_input"><input type="text" name="name" required="required" placeholder="Ваше имя"><span class="correct"></span></div>
                        <div class="form__item form_input"><input type="text" name="phone" required="required" class="tel-mask" placeholder="Ваш телефон"><span class="correct"></span></div>
                        <div class="form__item form_input"><input type="email" name="email" required="required" placeholder="Ваш e-mail"><span class="correct"></span></div>
                        <div class="form__item"><button class="button button--grad">Отправить заявку</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>