<section class="gas-buttons">
    <div class="mbox">
        <div class="gas-buttons__wrap">

            <div class="gas-buttons__item-container">
                <div class="gas-buttons__item">
                    <img src="images/gas01.png" alt="">
                    <a href="#" class="gas-bttn">Природный газ</a>
                </div>
            </div>
            <div class="gas-buttons__item-container">
                <div class="gas-buttons__item">
                    <img src="images/gas02.png" alt="">
                    <a href="#" class="gas-bttn">Нефтепродукты</a>
                </div>
            </div>
            <div class="gas-buttons__item-container">
                <div class="gas-buttons__item">
                    <img src="images/gas03.png" alt="">
                    <a href="#" class="gas-bttn">СУГ</a>
                </div>
            </div>
        </div>
    </div>
</section>