<!-- HEADER -->
<header>
    <div class="header">
        <div class="header__wrap">
            <div class="header__logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
            <div class="header__nav">
                <div class="butter"><span></span><span></span><span></span></div>
                <ul>
                    <li class="active"><a  href="#">О компании</a></li>
                    <li><a href="#">Товарный рынок</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Документы</a></li>
                    <li><a href="#">Тарифы</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="header__phone">
                <a href="tel:+74993725232" class="header__tel">+7(499)<b> 372-52-32</b></a>
                <a href="#" class="button">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

