<section class="three-items">
    <div class="mbox">
        <div class="three-items__wrap">
            <div class="three-items__item">
                <div class="three-items__img"><img src="images/three01.png" alt=""></div>
                <div class="three-items__txt">
                    <h6>Гарантия качества</h6>
                    <p>Мы гарантируем качество нашей продукции и услуг </p>
                </div>
            </div>
            <div class="three-items__item ">
                <div class="three-items__img"><img src="images/three02.png" alt=""></div>
                <div class="three-items__txt">
                    <h6>Широкий ассортимент</h6>
                    <p>Мы предлагаем клиентам широкий выбор на складах</p>
                </div>
            </div>
            <div class="three-items__item">
                <div class="three-items__img"><img src="images/three03.png" alt=""></div>
                <div class="three-items__txt">
                    <h6>Разные способы доставки</h6>
                    <p>Отправка осуществляется всеми
                        видами транспорта</p>
                </div>
            </div>
        </div>
    </div>
</section>