<section class="top-slider">
   
        <div class="top-slider__wrap">
            <div class="top-slider__slide" data-img="images/topbj.jpg">
                <div class="mbox top-slider__mbox">
                    <h2>Продажа природного газа
                        и нефтепродуктов</h2>
                    <a href="#" class="button button--grad">Оставить заявку</a>
                </div>
            </div>
            <div class="top-slider__slide" data-img="images/topbj2.jpg">
                <div class="mbox top-slider__mbox">
                    <h2>222 Продажа природного газа
                        и нефтепродуктов</h2>
                    <a href="#" class="button button--grad">Оставить заявку</a>
                </div>
            </div>
            <div class="top-slider__slide" data-img="images/topbj.jpg">
                <div class="mbox top-slider__mbox">
                    <h2>333 Продажа природного газа
                        и нефтепродуктов</h2>
                    <a href="#" class="button button--grad">Оставить заявку</a>
                </div>
            </div>
            <div class="top-slider__slide" data-img="images/topbj2.jpg">
                <div class="mbox top-slider__mbox">
                    <h2>444 Продажа природного газа
                        и нефтепродуктов</h2>
                    <a href="#" class="button button--grad">Оставить заявку</a>
                </div>
            </div>

        </div>
   
</section>